<% layout('layout') -%>
<style>
.g-sd { width: 160px; padding:36px 16px 40px 40px; overflow: visible;}
body .g-mn {
  width: 100%;
  left: 216px;
  background: #FFF;
  border-left: 1px solid #e7e7e7;
  overflow: hidden;
}
.m-table .name {
  color: #C00;
}
</style>

<script type="text/javascript">
$(window).resize(function(){
  var h = $(window).height() - 180;
  $('#_rightSide').css('height', h);
});
$(function(){
  $(window).resize();
});
</script>

<div class="g-mn" ng-controller="prjCtrl">
  <div id="_rightSide" style="margin:2em 216px 0 30px;height:90%;_margin-right: 236px;padding-right:10px; overflow-y: auto; overflow-x: hidden;" ng-show="project">
    <div class="project">
      <h2 class="u-tt u-tt-xl">{{project.name}}</h2>
      <p>{{project.description}}</p>
    </div>
    <form novalidate name="ruleForm">
    <table class="m-table" style="margin-top: 1em;">
      <thead>
        <tr>
          <th class="cola">考评对象：</th>
          <th colspan="2">
            <span class="name">{{item.name}}</span>
            <span class="description">{{item.description}}</span>
          </th>
          <th>类型：{{pTypes[project.type]}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rule in project.rules">
          <td class="rule-group">{{rule.name}}</td>
          <td colspan="3">
            <table class="m-table">
              <tr ng-repeat="child in rule.children" ng-class-even="'even'">
                <td class="cola">{{child.name}}</td>
                <td class="colb">
                  <label ng-repeat=" (key, i) in child.items">
                    <span my-radio="child" my-model="item.points[child.id]" my-value="key"></span>
                    {{key}}
                  </label>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </form></table>
    <div style="margin-top: 1em; text-align: right;">
      <button type="button" class="u-btn u-btn-c2" ng-click="skip()">不了解</button>
      <button type="button" class="u-btn" ng-click="okNext()">提交</button>
    </div>
  </div>
</div>
<div class="g-sd">
  <div id="menu" class="m-menu f-usn">
    <ul id="menulist" class="f-cb">
      <li><a href="#"><%= department.name %></a></li>
      <li class="crt"><a href="#">账号：<%= account.name %></a></li>
      <li><a href="/logout">[ 退出 ]</a></li>
  </ul> </div>
</div>
<script type="text/javascript">
var app = angular.module('heba.projects', [], angular.noop);
app.directive('myRadio', ['$compile', function($compile) {
  return {
    restrict: 'A',
    scope:{
      myRadio: '&'
    },
    //replace: true,
    link: function($scope, $elem, $attrs, ctrl) {
      var rule = $scope.myRadio();
      var input = '<input type="radio" name="'+ rule.key +'" ng-required="true" ng-model="'+ $attrs.myModel +'" ng-value="'+ $attrs.myValue +'"/>';
      //设置默认值
      //if($scope.$parent.$first) $scope.$parent.item.points[rule.id] = $scope.$parent.$eval($attrs.myValue);
      var e = $compile(input)($scope.$parent);
      $elem.replaceWith(e);
    }
  }
}]);
app.controller('prjCtrl', ['$scope', '$http', function($scope, $http){
  var pid = -1;
  var tid = -1;
  $scope.departments = <%- JSON.stringify(departments)%>;
  $scope.members = <%- JSON.stringify(members) %>;
  $scope.projects = <%- JSON.stringify(projects) %>;
  $scope.account = <%- JSON.stringify(account) %>;
  $scope.project = null;
  //待考评对象组
  $scope.items = [];
  //当前考评对象
  $scope.item = null;
  //选项默认值
  $scope.defaults = {
    itemPoints: {

    }
  };
  $scope.pCates = <%- JSON.stringify(pCates) %>;
  $scope.pTypes = <%- JSON.stringify(pTypes) %>;
  $scope.recordExists = <%- JSON.stringify(recordExists) %>;

  //跳过，下一个
  $scope.skip = function(){
    if(confirm('确实要投弃权票吗？')){
      $scope.item.points = false;
      $scope.okNext(true);
    };
  };

  //打分完毕
  $scope.okNext = function(skipValid){
    //console.log([$scope.ruleForm, $scope.ruleForm.$invalid]);
    var checkPass = true;
    for(var i in $scope.project._ruleKeys){
      if(!$scope.item.points[$scope.project._ruleKeys[i]]){
        checkPass = false;
        break;
      }
    };
    if(!skipValid && !checkPass){
      alert('您还有选项未选择，请选择！');
      return;
    };
    var record = {
      account_id: $scope.account.id,
      project_id: $scope.project.id,
      member_id: $scope.project.type == 'PERSON' ? $scope.item.id : 0,
      department_id: $scope.project.type == 'DEPARTMENT' ? $scope.item.id : 0,
      answer: $scope.item.points
    };
    // var s = [];
    // for(var k in $scope.item.points){
    //   s.push(k +' : '+ $scope.item.points[k]);
    // };
    // alert(s.join("\n"));
    $.jGrowl("正在保存，请稍候...", { life: 1000 });
    //测试使用
    //console.log(record);
    //return $scope.next();
    $http.post('/projects/records', {record : record})
    .success(function(json, status, headers, config){
      if(json && json.success){
        $.jGrowl("保存成功，请继续", { life: 2000 });
        $scope.next();
        $('#_rightSide').animate({ scrollTop: 0 }, 'fast');
      }else{
        hbex.showErr(json.errors, json.msg);
      }
    }).error(function(data, status, headers, config){
      alert(data);
    });
  };

  $scope.next = function(){
    //console.log($scope.items);
    if(tid + 1 < $scope.items.length){
      $scope.item = $scope.items[++tid];
      $scope.item.points = angular.extend({}, $scope.defaults.itemPoints);
      if($scope.recordExists[$scope.project.id] && $scope.recordExists[$scope.project.id][$scope.item.id]){
        //console.log([$scope.project.id, $scope.item.id]);
        return $scope.next();
      };
    } else {
      $scope.nextProject();
    }
  };

  $scope.nextProject = function(){
    if(pid + 1 < $scope.projects.length){
      $scope.project = $scope.projects[++pid];
      //console.log([pid, $scope.project]);
      //用于验证是否所有选项都已选择
      var _ruleKeys = [];
      $scope.defaults.itemPoints = {};
      angular.forEach($scope.project.rules, function(prj, key){
        angular.forEach(prj.children, function(rule, key){
          var defaultKey;
          _ruleKeys.push(rule.id);
          //设置默认选项
          for(var k in rule.items){
            defaultKey = k;
            break;
          };
          $scope.defaults.itemPoints[rule.id] = defaultKey;
        });
      });
      $scope.project._ruleKeys = _ruleKeys;
      //console.log(_ruleKeys);
      tid = -1;
      if($scope.project.category == 'PA'){
        //互评
        if($scope.project.type == 'PERSON'){
          //人员考核
          $scope.items = [];
          angular.forEach($scope.members[ $scope.project.dcate + '-' + $scope.project.mpos], function(deps){
            angular.forEach(deps, function(members, key){
              //排除本单位
              if(key != $scope.account.department_id) {
                $scope.items = $scope.items.concat(members);
              };
            });
          });
        } else {
          //班子考核
          $scope.items = [];
          angular.forEach($scope.departments, function(dep, key){
            if(dep.id != $scope.account.department_id && dep.category_id == $scope.project.dcate) {
              $scope.items.push(dep);
            };
          });
        }
      }else{
        //自评
        if($scope.project.type == 'PERSON'){
          //人员考核
          $scope.items = [];
          if($scope.members[ $scope.project.dcate + '-' + $scope.project.mpos]){
            angular.forEach($scope.members[ $scope.project.dcate + '-' + $scope.project.mpos][$scope.account.department_id], function(member, key){
              $scope.items.push(member);
            });
          };
        } else {
          //班子考核
          $scope.items = [$scope.departments[$scope.account.department_id]];
        }
      }
      $scope.next();
    } else {
      $scope.project = null;
      $scope.item = null;
      alert('考评项目已经全部完成，请退出！');
    }

  };
  // $scope.$watch('items', function(to, from){
  //   console.log(to);
  // });
  // $scope.$watch('project', function(to, from){
  //   console.log(to);
  // });
  // $scope.$watch('item', function(to, from){
  //   console.log(to);
  // }, true);
  $scope.nextProject();
}]);
angular.bootstrap(document.documentElement, ['heba.projects']);
</script>