<% layout('../layout') -%>
<% script('/javascripts/angular/ui-bootstrap.js') -%>

<div class="row" ng-controller="RulesCtrl" style="height:100%;">
  <div class="col-md-12 loading-wrap">
    <div class="loading-box" ng-show="loading">
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">80% Complete</span>
        </div>
      </div>
      <div class="mask"></div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default panel-primary">
          <div class="panel-heading"><h4>项目[<%- project.id %>]： <%- project.name %></h4></div>
          <div class="panel-body">
            <div class="btn-toolbar" role="toolbar" style="margin-bottom: 1em;">
              <div class="btn-group pull-left">
                <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> 返回列表</a>
              </div>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" title="添加条目" ng-click="addRule(rules)"><i class="glyphicon glyphicon-plus-sign"></i> 添加条目</button>
              </div>
            </div>

            <table class="table table-striped">
              <tr>
                <td style="width:6em;"><strong>考评类别</strong></td>
                <td><%- project.getCateName()%></td>
              </tr>
              <tr>
                <td><strong>考评类型</strong></td>
                <td><%- project.getTypeName()%></td>
              </tr>
              <tr>
                <td><strong>高分裁剪</strong></td>
                <td><%- project.high_cut %>%</td>
              </tr>
              <tr>
                <td><strong>低分裁剪</strong></td>
                <td><%- project.low_cut %>%</td>
              </tr>
              <tr>
                <td><strong>开始时间</strong></td>
                <td><%- project.beginAt.format('YYYY-MM-DD HH:mm:ss') %></td>
              </tr>
              <tr>
                <td><strong>结束时间</strong></td>
                <td><%- project.endAt.format('YYYY-MM-DD HH:mm:ss') %></td>
              </tr>
              <tr>
                <td><strong>项目描述</strong></td>
                <td><%- project.description %></td>
              </tr>
            </table>
          </div><!-- panel-body -->
        </div>
      </div><!-- col-sm-3 -->

      <div class="col-sm-9">

        <div class="panel panel-info" ng-repeat="rule in rules">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">
              <form class="form-inline" role="form">
                名称：
                <span ng-hide="rule.edit">{{rule.name}}</span>
                <div ng-show="rule.edit" class="form-group"><input type="text" class="form-control" ng-model="rule.edit.name" placeholder="规则名称"/></div>
                <small>[ KEY:{{rule.key}}]</small>&nbsp;
                分值占比：
                <span ng-hide="rule.edit">{{rule.scale}}</span>
                <div ng-show="rule.edit" class="form-group"><input type="text" class="form-control" ng-model="rule.edit.scale" placeholder="只能是数字"/></div>
                %
              </form>
            </h3>
            <div class="btn-toolbar pull-right" role="toolbar">
              <div class="btn-group" ng-show="rule.edit">
                <a href="#" class="btn btn-primary btn-sm" title="删除" ng-click="delRule(rules, $index)"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                <a href="#" class="btn btn-primary btn-sm" title="添加子项" ng-click="addRule(rule.children, rule)"><i class="glyphicon glyphicon-plus"></i> 子项</a>
              </div>
              <div class="btn-group" ng-hide="rule.edit">
                <a href="#" class="btn btn-primary btn-sm" title="编辑" ng-click="setEdit(rule)"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
              </div>
            </div>
          </div>
          <div class="panel-body">

            <div class="panel panel-default" ng-repeat="cRule in rule.children">
              <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">
                  <form class="form-inline" role="form">
                    名称：
                    <span ng-hide="cRule.edit">{{cRule.name}}</span>
                    <div ng-show="cRule.edit" class="form-group"><input type="text" class="form-control" ng-model="cRule.edit.name" placeholder="规则名称"/></div>
                    <small>[ KEY:{{cRule.key}}]</small>
                  </form>
                </h3>
                <div class="btn-toolbar pull-right" role="toolbar">
                  <div class="btn-group" ng-show="cRule.edit">
                    <a href="#" class="btn btn-info btn-sm" title="删除" ng-click="delRule(rule.children, $index)"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                    <a href="#" class="btn btn-info btn-sm" title="添加子项" ng-click="addItem(cRule)"><i class="glyphicon glyphicon-plus"></i> 选项</a>
                  </div>
                  <div class="btn-group" ng-hide="cRule.edit">
                    <a href="#" class="btn btn-info btn-sm" title="编辑" ng-click="setEdit(cRule)"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
                  </div>
                </div>

              </div>
              <ul class="list-group">
                <li class="list-group-item" ng-show="cRule.edit._newItem">
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <label class="sr-only">选项</label>
                      <input type="text" ng-model="cRule.edit._newItem.key" class="form-control" placeholder="输入选项">
                    </div>
                    <div class="form-group">
                      <label class="sr-only">分值</label>
                      <input type="number" ng-model="cRule.edit._newItem.point" class="form-control" placeholder="输入分值">
                    </div>
                    <button class="btn btn-info" title="确定" ng-click="submitItem(cRule)"><i class="glyphicon glyphicon-ok"></i></button>
                    <button class="btn btn-info" title="取消" ng-click="addItem(cRule, true)"><i class="glyphicon glyphicon-remove"></i></button>
                  </form>
                </li>
                <li class="list-group-item clearfix" ng-repeat="(key, value) in cRule.edit.items" >
                  <div class="pull-left">
                    <span class="label label-default">{{key}}</span> 分值：{{value}}
                  </div>
                  <div class="pull-right" ng-show="cRule.edit">
                    <button type="button" class="btn btn-default" ng-click="editItem(cRule, key)"><i class="glyphicon glyphicon-edit"></i></button>
                    <button type="button" class="btn btn-default" ng-click="delItem(cRule.edit.items,key)"><i class="glyphicon glyphicon-trash"></i></button>
                  </div>
                </li>
                <li ng-hide="cRule.edit" class="list-group-item" ng-repeat="(key, value) in cRule.items" >
                  <span class="label label-default">{{key}}</span> 分值：{{value}}
                </li>
              </ul>
              <div class="panel-footer" ng-show="cRule.edit">
                <button type="button" class="btn btn-info" ng-click="saveRule(cRule)"><i class="glyphicon glyphicon-floppy-save"></i> 保存</button>
                <button type="button" class="btn btn-default" ng-click="cancelEdit(cRule)"><i class="glyphicon glyphicon-refresh"></i> 取消</button>
              </div>
            </div>

          </div>
          <div class="panel-footer" ng-show="rule.edit">
            <button type="button" class="btn btn-primary" ng-click="saveRule(rule)"><i class="glyphicon glyphicon-floppy-save"></i> 保存</button>
            <button type="button" class="btn btn-default" ng-click="cancelEdit(rule)"><i class="glyphicon glyphicon-refresh"></i> 取消</button>
          </div>
        </div>
      </div><!-- col-sm-9 -->

    </div>
  </div>
</div>

<script type="text/javascript">
(function($){
var rules = <%- JSON.stringify(rules) %>;
var project = <%- JSON.stringify(project) %>;
var app = angular.module('heba.admin.rules', ['ui.bootstrap'], angular.noop);
app.controller('RulesCtrl', ['$scope', '$modal', '$http', function($scope, $modal, $http){
  $scope.rules = rules;
  $scope.addItem = function(rule, cancel){
    if(cancel){
      rule.edit._newItem = false;
    }else{
      rule.edit._newItem = {};
    }
  };
  $scope.addRule = function(target, parent){
    var rule = {edit: {project_id: project.id, items:{}}, _isNew: true};
    if(parent){
      rule.edit.parent_id = parent.id;
    };
    target.unshift(rule);
  };
  $scope.cancelEdit = function(rule){
    rule.edit = false;
  };
  $scope.delItem = function(items,key){
    delete items[key];
  };
  $scope.delRule = function(rules, idx){
    var rule = rules[idx];
    if(confirm('确实要删除“'+ rule.name +'" 条目吗？')){
      $http.delete('/admin/projects/'+ project.id +'/rules/' + rule.id)
            .success(function(json, status, headers, config) {
                if(json && json.success){
                  alert(json.msg);
                  rules.splice (idx, 1);
                }else{
                  alert(json.msg);
                }
             })
             .error(function(data, status, headers, config) {
                alert(data);
                console.log(data);
             });
    }
  };
  $scope.editItem = function(rule, key){
    rule.edit._newItem = { key: key, point: rule.edit.items[key]};
  };
  $scope.saveRule = function(rule){
    var _rule = angular.copy(rule.edit);
    var opts = rule._isNew ? { method: 'POST', url: '/admin/projects/' + project.id +'/rules'} : { method: 'PUT', url: '/admin/projects/' + project.id +'/rules/' + rule.id};
    opts.data = { rule: _rule };
    $http(opts).success(function(json, status, headers, config){
      if(json && json.success){
        angular.extend(rule, json.rule);
        rule.edit = false;
        rule._isNew = false;
      }else{
        alert(json.errors);
      }
    }).error(function(data, status, headers, config){
      alert(data);
    });
  };
  $scope.setEdit = function(rule){
    rule.edit = angular.copy(rule);
  };
  $scope.submitItem = function(rule){
    var item = rule.edit._newItem;
    if(rule.edit._newItem){
      rule.edit.items[item.key] = item.point;
      rule.edit._newItem = false;
    };
  };

}]);


angular.bootstrap(document.documentElement, ['heba.admin.rules']);
})(jQuery);
</script>